					<h1>About Us</h1>

<p>Members:<p>
<p>Vocals/Lead Guitar- Albert<p>
<p>Backup Vocals/Bass Guitar- Gabe<p>
<p>Drums- Chris<p>

<p> SPACE WLVS (pronounce wolves) started officially promoting and gigging at the end of December 2016. They had their first gig December 3rd and continue to gig and are looking record their music soon. Stay tuned for updates on the band and tour dates! </p>

