<h1>About Us</h1>
<p>I am creating a rails application from the lessons of One Month!</p>

<p> Hi my name is Albert and I want to create an amazing website/application. I believe learning Ruby on Rails will give me the necessary tools to do just that. I am experimenting with this website as a mock trial. Enjoy! </p>

