<h1>Contact Us</h1>
<p>We are always updating our program, let us know how we can make it better!</p>

<p>I am currently enrolled in One Month Rails, a program designed to teach newbies like myself to create web applications from scratch using the Ruby on Rails Framework. If their is anything else you think this site is lacking or think of something that can be improved please leave your comments. Thanks!</p>