					<h1>Space WLVS</h1>
	
	<p> SPACE WLVS is a three piece alternative rock band from San Antonio, Tx. All original music, set list under Merch link. They are available for booking now!<p>

	<p>Set List:</p>
<p> 1. Dirty Love<p>
<p> 2. Sequence<p>
<p> 3. Punchline Rocket<p>
<p> 4. Get Back Up<p>
<p> 5. Only for fun<p>
<p> 6. Sexy Spaceship<p>
<p> 7. Morning Night<p>
<p> 8. No Exits<p>
<p> 9. Sin City<p>
<p> 10. Fuck the News<p>
<p> 11. Moonlight<p>

	<P>Covers:<P>
<p> 1. Come Together by The Beatles<p>
<p> 2. A Certain Romance bt Arctic Monkeys<p>
<p> 3. Whatever Happened? by The Strokes<p>
<p> 4. Reptilia by The Strokes<P>
<p> 5. Everlasting Light by The Black Keys<p>	

	<P>B-side Songs<P>
<p> 1. Tear<p>
<p> 2. Amazon Takedown<p>
<p> 3. STRESSED DESSERTS<p>
<p> 4. Break the Walls<P>
<p> 5. Clouds <P>
<p> 6. Stay with me<p>
<p> 7. Under Circumstances<p>
<p> 8. Brandon Dozier<p>


